.mb-20 { margin-bottom: 20px; }
.mb-25 { margin-bottom: 25px; }
.mb-30 { margin-bottom: 30px; }



/* ==========  Mobile First  ========== */

@media only screen and (min-width: 575.98px) {

    // left spaces
    .ml-sm-8p { margin-left: 8%; }
    .ml-lg-10p { margin-left: 10%; }
    .ml-sm-15p { margin-left: 15%; }

    // right spaces
    .mr-sm-8p { margin-right: 8% }

    .section-sm-inverse {
        > div:first-child { order: 2; }
        > div:last-child { order: 1; display: flex; justify-content: flex-end;}
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 991.98px) {

    .ml-lg-10p { margin-left: 10%; }
}
