body { font-family: 'Montserrat'; }

h1, .h1 {
    font-size: 50px;
    font-weight: 700;
}

h2, .h2 {
    font-size: 45px;
    font-weight: 700;
}

h3, .h3 {
    font-size: 35px;
    font-weight: 600;
}

h4, .h4 { font-size: 25px; }

h5, .h5 {
    font-size: 20px;
    font-weight: 300;
}

.sub-title {
    font-size: 25px;
    font-weight: 300;
}

.contact-email { font-size: 55px; }


/* ==========  Desktop First  ========== */

@media only screen and (max-width : 1400px) {

    h1, .h1 {font-size: 48px;}
    h2, .h2 { font-size: 42px; }
    h3, .h3 { font-size: 32px; }
    .contact-email { font-size: 50px; }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199.98px) {

    h1, .h1 {font-size: 40px;}
    h2, .h2 { font-size: 38px; }
    h3, .h3 { font-size: 30px; }
    .sub-title { font-size: 22px; }
    .contact-email { font-size: 45px; }
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 991.98px) {

    h1, .h1 {font-size: 35px;}
    h2, .h2 { font-size: 34px; }
    h3, .h3 { font-size: 28px; }
    .sub-title { font-size: 20px; }
    .contact-email { font-size: 40px; }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767.98px) {

    h1, .h1 {font-size: 30px;}
    h2, .h2 { font-size: 28px; }
    h3, .h3 { font-size: 26px; }
    .sub-title { font-size: 18px; }
    .contact-email { font-size: 34px; }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    h1, .h1 {font-size: 25px;}
    h2, .h2 { font-size: 24px; }
    h3, .h3 { font-size: 22px; }
    h4, .h4 { font-size: 22px; }
    .sub-title { font-size: 16px; }
    .contact-email { font-size: 25px; }
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

    .sub-title { font-size: 14px; }
}
