.btn-accent {
    position: relative;
    display: inline-block;
    padding: 19px 20px;
    color: $white;
    font-size: 13px;
    font-weight: 300;
    font-family: 'OpenSans';
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1;
    letter-spacing: 0.5px;
    border: none;
    background-color: $btn-bg;
    box-shadow: $btn-shadow;
    cursor: pointer;
    outline: 0;

    &:hover, &:focus, &:active {
        text-decoration: none;
        color: $white;
        outline: 0;
    }
}

.btn-accent--img {
    display: flex;
    padding: 16px 42px 17px 38px;
    align-items: center;

    img {
        display: inline-block;
        width: 20px;
        height: auto;
        margin-right: 20px;
    }
}

.button-wrapper { padding: 10px 0; }

/* Small Devices, Tablets */
@media only screen and (max-width : 767.98px) {

    .btn-accent { font-size: 12px; }
}
