.navigation {
    position: absolute;
    top: 50%;
    right: 75px;
    transform: translateY(-50%);
    z-index: 50;

    &-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    &-item { padding: 10px;  }

    &-link {
        position: relative;
        display: block;
        width: 6px;
        height: 6px;
        text-decoration: none;
        border-radius: 10rem;
        background-color: #3a3a3a;
        opacity: 0.4;
        transition: opacity 0.25s ease-in;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 18px;
            height: 18px;
            border: 1px solid transparent;
            border-radius: 10rem;
            transition: border-color 0.25s ease-in;
        }
        &:hover, &.active {
            opacity: 1;

            &::before {
                z-index: 10;
                border-color: #3a3a3a;
            }
        }
    }
}

.navigation--white {
    .navigation-link {
        background-color: $white;
        &:hover, &.active {
            &::before { border-color: $white; }
        }
    }
}


@media only screen and (max-width : 1400px) {

    .navigation { right: 30px; }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 991.98px) {

    .navigation { right: 20px; }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767.98px) {

    .navigation { display: none; }
}
