.social {
    margin: 0;
    padding: 0;
    list-style-type: none;

    &-link {
        padding: 5px;
        text-decoration: none;
        font-size: 16px;
        line-height: 1;

        &:hover, &:focus, &:active {  text-decoration: none; }
    }
}

.social-vertical {
    .social {
        &-item:not(:last-child) { margin-bottom: 10px; }

        &-link {
            color: $white;
            &:hover, &:focus, &:active { color: $white; }
        }
    }
}

.social-horizontal {
    display: flex;
    align-items: center;

    .social {
        &-item:not(:last-child) { margin-right: 14px; }

        &-link {
            color: $black;
            &:hover, &:focus, &:active { color: $black; }
        }
    }
}


/* Small Devices, Tablets */
@media only screen and (max-width : 767.98px) {
    .social-vertical {
        display: flex;
        align-items: center;

        .social {
            &-item:not(:last-child) {
                margin-bottom: 0px;
                margin-right: 18px;
            }
        }
    }
}
