footer {
    height: 100vh;
    min-height: 400px;
    padding: 55px;
    background-color: $footer-bg-red;
}

.contact {
    &-wrapper {
        position: relative;
        height: 100%;
        background-color: $white;

        .social {
            position: absolute;
            left: 50%;
            top: 90%;
            transform: translate(-50%, -50%);
        }
    }
    &-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    &-email {
        padding: 15px 0;
        font-family: "F37Ginger";
        font-weight: 700;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    footer { padding: 35px; }
}
