header {
    position: relative;
    display: flex;
    height: 100vh;
    min-height: 650px;
    flex-flow: column;
    flex-grow: 1;
    color: $white;
    background-color: $header-bg-red;
    overflow-x: hidden;
}

// Top nav line
.nav-line {
    display: flex;
    width: 100%;
    padding: 15px 50px;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;

    .logo {
        display: inline-block;
        padding: 5px 5px 5px 0;

        &-link { display: block; }

        &-img {
            display: block;
            width: 95px;
            height: auto;
        }
    }

    .menu {
        &-list {
            display: flex;
            margin: 0;
            padding: 0;
            align-items: center;
            list-style-type: none;
        }

        &-item:not(:last-child) { margin-right: 20px; }

        &-link {
            display: block;
            padding: 5px;
            color: $white;
            font-size: 14px;
            font-weight: 300;
            font-family: 'OpenSans';
            line-height: 1.15;
            letter-spacing: 0.5px;
            text-decoration: none;
        }
    }

}

// Hide hamburger box
.hamburger { display: none; }

// Cover overlay --dark
.mnu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    visibility: hidden;
    cursor: pointer;
    opacity: 0;
    z-index: -10;
    transition: opacity 0.35s ease-out;
}

// Hero section
.hero {
    display: flex;
    flex-grow: 1;
    width: 100%;

    &-text {
        max-width: 625px;
        margin-left: auto;
        padding-left: 35px;

        .sub-title { margin-bottom: 55px; }
    }

    &-img {
        max-width: 690px;
        margin: 0 auto;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }
}

// Bottom contact line
.header-contact {
    display: flex;
    width: 100%;
    padding: 20px 50px 55px;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: flex-end;

    .mail-box {
        padding: 5px 5px 0;
        font-size: 18px;
        font-family: "F37Ginger";
    }
}


/* ==========  Desktop First  ========== */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1400px) {

    .nav-line { padding: 15px; }

    .hero {
        &-text {
            padding-left: 0px;
            margin-left: 0;
        }

        &-img { max-width: 72% }
    }

    .header-contact {padding: 15px 15px 20px;}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 991.98px) {

    .hero-img { max-width: 90% }
}


/* Small Devices, Tablets */
@media only screen and (max-width : 767.98px) {

    .hamburger { display: block; }

    .nav-line {
        .menu {
            position: relative;

            &-list {
                position: fixed;
                right: -250px;
                top: 0;
                width: 250px;
                height: 100%;
                min-height: 100vh;
                flex-direction: column;
                padding: 50px 0;
                align-items: flex-start;
                background-color: #ffffff;
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                visibility: hidden;
                opacity: 0;
                z-index: 500;
                overflow: auto;
                transition: all 0.5s ease-in-out;
            }
            &-item {
                width: 100%;

                &:not(:last-child) { margin: 0; }
            }

            &-link {
                padding: 12px 20px;
                color: #000;
                font-size: 16px;

            }

            &.is-open {
                transition: all 0.35s ease-out;

                .mnu-overlay {
                    visibility: visible;
                    z-index: 400;
                    opacity: 1;
                }

                .menu-list {
                    visibility: visible;
                    opacity: 1;
                    right: 0;
                }

                .hamburger {
                    position: fixed;
                    z-index: 510;
                    top: 16px;
                    right: 15px;
                }

                .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
                    background-color: $header-bg-red;
                }
            }
        }
    }



    .hero {
        &-text {
            max-width: 100%;
            .sub-title { margin-bottom: 35px; }
        }

        &-img { max-width: 35% }
    }

    .header-contact .mail-box { font-size: 16px; }
}


@media only screen and (max-width: 575.98px) {

    .hero-img { max-width: 40% }
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    .hero-img { max-width: 50% }
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

    .hero {
        &-text { text-align: center; }
        &-img { max-width: 60% }
    }
}
