.mfp-container { padding: 0; }

.mfp-content {  height: 100%; }

.s-modal {
    position: relative;
    height: 100%;
    min-height: 1080px;
    background-color: $white;
    font-family: 'OpenSans';
}

.modal {
    &-container {
        height: 100%;
        padding: 55px 50px;
    }
    &-logo {
        display: inline-block;
        img { display: block; }
    }

    &-form {
        padding: 55px 0 0 110px;

        .title {
            font-size: 50px;
            font-weight: 700;
            letter-spacing: 0.5px;
        }
        .hr-line { padding-top: 10px; }
    }
}

.form-input,
.form-select {
    padding-top: 64px;

    label {
        display: block;
        font-size: 26px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: uppercase;
    }

    input, select {
        width: 100%;
        height: 40px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 20px;
        font-weight: 300;
        background-color: $white;
        border: none;
        border-bottom: 2px solid #d8d8d8;
        border-radius: 0;
        outline: 0;
    }
}

.modal-hint {
    max-width: 500px;
    margin-bottom: 0;
    padding-top: 25px;
    color: #878787;

    a {
        color: #878787;
        text-decoration: underline;

        &:hover { color: #878787 }
    }
}

.form-btn-wrapper {  margin-top: 80px; }

.maps {
    position: relative;
    height: 100%;
    margin: 0 -15px;
}

.tmp-map {
    display: block;
    height: 100%;
    width: 100%;
}

.close-modal {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    padding: 40px 30px 15px 15px;
    font-size: 21px;
    font-weight: 600;
    font-family: 'OpenSans';
    z-index: 100;
    cursor: pointer;

    &::before { content: 'закрити'; }
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        top: 0;
    }

    img { padding-left: 18px; }
}

.mfp-close {
    width: auto;
    height: auto;
    line-height: 1;
}

/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;

	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;

	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);

	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}


/* ==========  Desktop First  ========== */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1500px) {

    .s-modal { min-height: 900px; }

    .modal {
        &-container {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        &-form { padding: 30px 0 0 100px; }
    }

    .form-input, .form-select {
        padding-top: 55px;
    }
}

@media only screen and (max-width : 1400px) {

    .s-modal { min-height: 800px; }

    .modal {
        &-container { padding: 15px 0; }

        &-form {
            padding: 40px 55px 0 55px;

            .title { font-size: 35px; }
            .hr-line { padding-top: 0; }
        }
    }

    .form-input, .form-select {
        padding-top: 35px;
        label { font-size: 20px; }
    }

    .form-btn-wrapper {  margin-top: 40px; }
}


@media only screen and (max-width : 1199.98px) {

    .modal-form { padding: 25px 30px 0 50px; }
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 991.98px) {

    .modal-form {
        padding: 25px 15px 0 0;
        .title { font-size: 30px; }
    }

    .form-input, .form-select {
        label { font-size: 14px; }
        input, select { font-size: 16px; }
    }
}


/* Small Devices, Tablets */
@media only screen and (max-width : 767.98px) {

    .close-modal {
        padding: 10px;
        &::before {  content: ''; }
    }
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    .s-modal { min-height: 650px; }

    .modal {
        &-form {
            padding: 25px 0 0 0;
            .title { font-size: 25px; }
        }
        &-hint { font-size: 14px; }
    }

    .form-input, .form-select {
        padding-top: 30px;
        input, select { height: 30px; }
    }
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

    .modal-hint { font-size: 12px; }
}
