.s-service, .s-register-company {
    height: 100vh;
    min-height: 650px;

    .description-container {
        display: inline-block;
        max-width: 694px;
        margin-right: 100px;
    }
}

.section-container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;

    &__item {
        flex: 0 0 50%;
        padding: 0 15px;
    }
}

// Register company section
.translate-box {
    position: relative;
    width: 100%;
    max-width: 510px;
    margin: auto 50px auto auto;

    &__container {
        display: flex;
        width: calc(100% - 26px);
        background-color: $white;
        box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.06);
        transform: translate(52px, -60px);

        img {
            width: 100%;
            height: 100%;
            margin: 25% 0;
            padding: 0 45px;
        }
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        max-width: 510px;
        max-height: 560px;
        border: 26px solid $section-bg-red;
        box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.06);
    }
}

// Services sections
.red-box {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: $section-bg-red;
}

.img-box {
    padding: 0 15px;
    img { width: 100%; }
}

// Section our goal
.s-our-goal {
    position: relative;
    height: 472px;
    background-color: $section-bg-red;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $footer-bg-red;
        clip-path: polygon(100% 0, 20% 100%, 100% 100%);
    }
}

.our-goal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 480px;
    padding: 0 15px;
    text-align: center;
    color: $white;
    z-index: 10;

    .hr-line {
        padding: 10px 0 18px;
        text-align: center;
    }
}


/* ==========  Desktop First  ========== */

@media only screen and (max-width : 1400px) {

    .s-service, .s-register-company {
        .description-container { margin-right: 60px;  }
    }

    .translate-box__container img { margin: 20% 0; }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991.98px) {

    .s-service, .s-register-company {
        .description-container {  margin-right: 30px; }
    }

    .translate-box__container img {
        padding: 0 30px;
        margin: 16% 0;
    }
}


/* Small Devices, Tablets */
@media only screen and (max-width : 767.98px) {

    .s-service, .s-register-company {
        .description-container {  margin-right: 0; }
    }

    .translate-box__container { transform: translate(48px, -55px); }
}


@media only screen and (max-width: 575.98px) {

    .section-container {
        flex-direction: column;
        align-items: flex-start;

        &__item {
            display: flex;
            align-items: center;
            height: 100%;
        }
    }

    .translate-box {
        width: 65%;
        margin: 0;
        margin-top: auto;
    }

    .img-box {
        text-align: center;
        img { width: 70%; }
    }

    .s-our-goal { height: 325px; }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

    .translate-box {
        width: 68%;
        margin: auto auto 0;
    }
}

@media only screen and (max-width : 415px) {

    .translate-box {
        width: 80%;

        &:before { border: 16px solid $section-bg-red; }
        &__container {
            width: calc(100% - 16px);
            transform: translate(32px, -38px)
        }
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

    .description-container { text-align: center; }
    .img-box img { width: 80%; }
}
