
// Body
$body-bg: #f0f0f0;
$body-color: #000;

// Colors
$header-bg-red: #c7404f;
$section-bg-red: #ca5d69;
$footer-bg-red: #c94251;

// Main Button
$btn-bg: #bb2030;
$btn-shadow: 0 0 6px 0 rgba(53, 8, 13, 0.23)
